<a href="https://colab.research.google.com/github/118376506916914801149/python-assignment-2/blob/master/assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ASSIGNMENT -1

In [ ]:
#questiomn 1
year = int(input("Enter the year"))
if year % 12 == 0 :
  print("monkey")
elif year % 12 == 1 :
  print("raoster")
elif year % 12 == 2 :
  print("dog")
elif year % 12 == 3 :
  print("pig")
elif year % 12 == 4 :
  print("rat")
elif year % 12 == 5 :
  print("ox")
elif year % 12 == 6 :
  print("tiger")
elif year % 12 == 7 :
  print("rabit")
elif year % 12 == 8 :
  print("dragon")
elif year % 12 == 9 :
  print("snake")
elif year % 12 == 10 :
  print("horse")
else :
  print("sheep")

Enter the year3
pig

In [ ]:
#question 2
dist=int(input("Distance to be travelled:"))
weight=int(input("Weight of the goods:"))
if dist >= 500 :
  if weight >= 100 :
    print("Amount to be charged:",5*dist)
  elif weight < 10 :
    print("Amount to be charged:",7*dist)
  else :
    print("Amount to be charged:",6*dist)
else :
  if weight <= 100 :
    print("Amount to be charged:",8*dist)
  else :
    print("Amount to be charged:",5*dist)

Distance to be travelled:520
Weight of the goods:50
Amount to be charged: 3120

In [ ]:
#question 3
seat= input("Type of Seat:").upper()
pay = input("Payment mode(CARD OR CASH):").upper()
if seat == "CIRCLE" and pay == "CASH":
  print("Cost of ticket:675")
elif seat == "CIRCLE" and pay == "CARD":
  print("Cost of ticket:712.5")
elif seat == "STAILS" and pay == "CASH":
  print("Cost of ticket:562.5")
elif seat == "STAILS" and pay == "CARD":
  print("Cost of ticket:593.75")
elif seat == "UPPER CLASS" and pay == "CASH":
  print("Cost of ticket:765")
elif seat == "UPEER CLASS"and pay == "CARD":
  print("Cost of ticket:807.5")
elif seat == "BOX" and pay == "CASH":
  print("Cost of ticket:900")
elif seat == "BOX" and pay == "CARD":
  print("Cost of ticket:950")
else :
  print("given input is not acceptable")

Type of Seat:box
Payment mode(CARD OR CASH):card
Cost of ticket:950

In [ ]:
#question 4
float(input("Enter the mass of the water"))*(float(input("final temp"))-float(input("intial temp")))*4184

Enter the mass of the water21
final temp78
intial temp21

5008248.0

In [ ]:
#question 5
month = input("enter the month").upper()
if month == "DECEMBER" or month == "JANUARY" or month == "FEBRUARY" :
  print("Winter")
elif month == "MARCH" or month == "APRIL" or month == "MAY" :
  print("SPRING")
elif month == "JUNE" or month == "JULY" or month == "AUGUST" :
  print("SUMMER")
elif month == "SEPTEMBER" or month == "OCTOBER" or month == "NOVEMBER" :
  print("AUTUMN")
else :
  print("not a month")

enter the monthjune
SUMMER

In [ ]:
#question 6
weight = float(input("enter the weight in pounds"))
height = float(input("enter the height in inches"))
bmi = (weight*0.45359237)/(height*height*0.0254*0.0254)
if bmi < 18.5 :
  print("Underweight")
elif 18.5 < bmi < 25.0 :
  print("Normal")
elif 25.0 < bmi < 30.0 :
  print("Overweight")
elif 30.0 < bmi:
  print("Obese")

enter the weight in pounds23
enter the height in inches14
Obese

In [ ]:
#question 7
number = input("enter a integer between 100 to 1000")
sum=0
for i in number :
  sum = sum+ int(i)
print(sum)

enter a integer between 100 to 1000745
16

In [3]:
#question 8
for i in range(1,1000):
  sum=0
  y=i
  while i>0 :
   x=i%10
   i=int(i/10)
   sum= sum * 10 + x
  if y==sum :
   print(y)

1
2
3
4
5
6
7
8
9
11
22
33
44
55
66
77
88
99
101
111
121
131
141
151
161
171
181
191
202
212
222
232
242
252
262
272
282
292
303
313
323
333
343
353
363
373
383
393
404
414
424
434
444
454
464
474
484
494
505
515
525
535
545
555
565
575
585
595
606
616
626
636
646
656
666
676
686
696
707
717
727
737
747
757
767
777
787
797
808
818
828
838
848
858
868
878
888
898
909
919
929
939
949
959
969
979
989
999

In [13]:
#question 9
for i in range(1,1000):
  sum=0
  y=i
  count = len(str(i))
  while i>0 :
   x=i%10
   sum= sum  + x**count
   i=int(i/10)
  if y==sum :
   print(y)

1
2
3
4
5
6
7
8
9
153
370
371
407

In [16]:
#question 10
for i in range(1,100) :
  if i % 3 == 0 and i % 5 == 0 :
    print("fizz buzz")
  elif i % 3 == 0 :
    print("Fizz")
  elif i % 5 == 0 :
    print("Buzz")
  else :
    print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
fizz buzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
fizz buzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
fizz buzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
fizz buzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
fizz buzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
fizz buzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz

In [18]:
#question 11
height = int(input("Enter the height"))
up = int(input("Enter the meters climed up"))
slip = int(input("Enter the sliped down"))
dt = ((height - up)+(up-slip))//(up-slip)
print(dt+1)

Enter the height200
Enter the meters climed up50
Enter the sliped down1
5